body {
  font-family: Arial, sans-serif;
  background: #05326d;
  color: #05326d;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #559bf7;
}

.apod-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.apod-card {
  background: #b8caec;
  border-radius: 12px;
  padding: 15px;
  margin: 10px;
  width: 320px;
  text-align: left;
}

.apod-card img, .apod-card iframe {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

button, input {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 6px;
}

button {
  background: #1192fc;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #8d94f3;
}
